.freeformpanelarea {
  .freeform-row .freeform-column .freeform-label {
    color: $boatblue;
  }
}
.freeformpanelarea__fieldholder--arrow {
  &:after {
    background-image: inline-svg('down-arrow',$boatblue);
  }
}
.freeformpanelarea__fieldholder--date {
  &:after {
    background-image: inline-svg('calendar',$boatblue);
  }
}