.paginatedproperties__arrow {
  background-image: inline-svg('side-chevron',$boatblue);
}
.paginatedproperties__dotinner {
  background: $boatblue;
  border: 2px solid $boatblue;
}
.paginatedproperties__price {
  background: $boatblue;
}
