.articles__wideitem--wback {
  background: $brandbeige;
  color: #fff;
  h2 {
    a {
      color: #fff;
    }
    color: #fff;
  }
}
.articles__itemtitle {
  color: $bellavistared;
  a {
    color: $bellavistared;
  }
}
.articles__wideitemtitle {
  color: $bellavistared;
  a {
    color: $bellavistared;
  }
}