.mooringtable__headingcellinner {
  background: $accentbrown;
  border-color: $darkgrey;
}
.mooringtable__midheadingcell {
  background: #e8e8e2;
}
.mooringtable__midheadingsidearea {
  background: #e8e8e2;
}
.mooringtable__contentcell {
  em {
    color: #000;
  }
}