.optionboxes {
  background: $brandbeige;
}
.optionboxes__item {
  border-color: #e0ddd6;
  text-transform:none;
}
.optionboxes__row {
  border-color: #e0ddd6;
}  
.optionboxes__summary {
  letter-spacing: normal;
}
.container--options {
  max-width: 1180px;
}