.paginatedproperties__arrow {
  background-image: inline-svg('side-chevron',$bellavistared);
}
.paginatedproperties__dotinner {
  background: $bellavistared;
  border: 2px solid $bellavistared;
}
.paginatedproperties__price {
  background: $bellavistared;
}
