.announcement {
  position: relative;
  text-align: center;
  color: #fff;
}
.announcement__back {
  background: $lightgreen;
  display: block;
  color: #fff;
  &:hover {
    color: #fff;
  }
}
.announcement__title {
  text-transform: uppercase;
  font-weight: 300;
  font-size: $font20;
  line-height: 1.2em;
  padding-bottom: 9px;
  display: block;
  vertical-align: middle;

  strong {
    font-weight:400;
  }

  p {
    padding:0;
    font-size:inherit;
    line-height:inherit;
  }

  @media(min-width:696px) {
    display:inline-block; 
    margin-right:35px;
  }
  @media(min-width:767px) {
    font-size:$font22;
  }
  @media(min-width:1001px) {
    font-size:$font30;
    margin-right:65px;
  }
  @media(min-width:1250px) {
    font-size:2.85em;
  }
}
.announcement__content {
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.6em;
  display: inline-block;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  padding:10px;

  p {
    padding:0;
    font-size:inherit;
    line-height:inherit;
  }

  @media(min-width:767px) {
    font-size:$font18;
  }

  @media(min-width:1001px) {
    font-size:$font20;
    padding:20px 15px;
  }

  @media(min-width:1250px) {
    font-size:$font22;
    padding:25px 20px;
  }
}
.announcement__inner {
  padding: 27px 37px 21px;
  display: block;

  @media(min-width:500px) {
    padding: 37px 37px 31px;
  }
}