.mobiletopsearch { 
  display: none; 
}
@media (max-width: 400px) {
  .mobiletopsearch { 
    display: block; 
    padding-top: 10px; 
  }
  .mobiletopsearch__form { 
    display: none; 
  }
  .mobiletopsearch--boxessection {
    padding: 0 0 18px;
  }
  .mobiletopsearch__btn--boxessection {
    margin-top: 0;
  }
}