.newsletter { 
  text-align: center; 
  background: #000; 
  padding: 81px 0 74px; 
  color: #fff; 
}
.newsletter__label { 
  font-weight: 300; 
  font-size: $font20; 
  text-transform: uppercase; 
  letter-spacing: 0.08em; 
  margin-right: 38px; 
}
.newsletter__img { 
  margin-right: 27px; 
  margin-top: -7px; 
  width: 70px; 
  /* extra */
  height: 32px;
  background-image: inline-svg('mail-icon', #afbbaf);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70px 32px; 
  display: inline-block;
  vertical-align: middle;
}
.newsletter__input { 
  border: 0; 
  font-family: $fonts; 
  color: #000; 
  font-size: 100%; 
  padding: 21.5px 27px; 
  border-radius: 5px; 
  box-sizing: border-box; 
  width: 653px; 
  margin-right: 47px; 
}
.newsletter__btn { 
  margin: 0; 
  padding-left: 33px; 
  padding-right: 33px; 
  vertical-align: top;
}
.newsletter ::-webkit-input-placeholder { 
  color: #000; 
}
.newsletter :-moz-placeholder { 
  color: #000; 
}
.newsletter ::-moz-placeholder { 
  color: #000; 
}
.newsletter :-ms-input-placeholder { 
  color: #000; 
}
@media (max-width: 1325px) {
  .newsletter__img { 
    margin-right: 12px; 
    margin-top: -7px; 
  }
	.newsletter__label { 
    margin-right: 18px; 
  }
	.newsletter__input { 
    margin-right: 16px; 
  }
}
@media (max-width: 1250px) {
  .newsletter { 
    padding: 81px 20px 74px; 
  }
	.newsletter__input { 
    width: 530px; 
  }
}
@media (max-width: 1140px) {
  .newsletter__input { 
    width: 460px; 
  }
}
@media (max-width: 1090px) {
  .newsletter__input { 
    width: 380px; 
  }
}
@media (max-width: 990px) {
  .newsletter { 
    padding: 56px 20px 49px; 
  }
  .newsletter__label { 
    margin-right: 15px; 
  }
  .newsletter__input { 
    width: 310px; 
  }
}
@media (max-width: 900px) {
  .newsletter__label { 
    font-size: 130%; 
  }
	.newsletter__input { 
    width: 240px; 
  }
}
@media (max-width: 815px) {
  .newsletter__img { 
    display: block; 
    margin: 0 auto 21px; 
  }
	.newsletter__label { 
    display: block; 
    margin: 0 0 24px; 
    font-size: 143%; 
    line-height: 1.4em; 
    strong { 
      display: block; 
    }
  }
	.newsletter__input { 
    width: 65%; 
    display: block; 
    margin: 0 auto 20px; 
    text-align: center; 
  }
	.newsletter { 
    padding: 50px 20px; 
  }
}
@media (max-width: 600px) {
	.newsletter__input { 
    width: 85%; 
  }  
}
@media (max-width: 400px) {
	.newsletter__input { 
    width: 100%; 
  }
}
