{% if item.heading|length %}
  {{ item.heading }}
{% endif %}
<div {% if item.panelStyling == 'greyBoxes' %}class="section__narrowertext"{% endif %}>
{% if item.introduction|length %}
  <div class="section__intro">
    {{ item.introduction }}
  </div>
{% endif %}
{% if item.itemContent|length %}
  {{ item.itemContent }}
{% endif %}

{% if ((item.button1Entry|length or item.button1Link|length or item.button1Download|length) and item.button1Text|length) or ((item.button2Entry|length or item.button2Link|length or item.button2Download|length) and item.button2Text|length) %}
<div class="section__firstsectionbtns">
{% if (item.button1Entry|length or item.button1Link|length or item.button1Download|length) and item.button1Text|length %}
{% set isPopup = false %}
{% if item.button1Entry|length %}
  {% if item.button1Entry.one().section.handle == 'popups' %}
    {% set isPopup = true %}
  {% endif %}
{% endif %}
  <a href="{% if item.button1Entry|length %}{{ item.button1Entry.one().url }}{% elseif item.button1Download|length %}{{ item.button1Download.one().url }}{% else %}{{ item.button1Link }}{% endif %}" class="btn {% if isPopup == true %}popuplink{% endif %} {% if item.button1BrochureIcon is defined and item.button1BrochureIcon %}btn--brochure{% endif %}" {% if isPopup == true %}data-popup="{{ item.button1Entry.one().slug }}"{% endif %} {% if item.button1OpenInNewTab %}target="_blank"{% endif %}>{{ item.button1Text }}</a>
  
{% endif %}
{% if (item.button2Entry|length or item.button2Link|length or item.button2Download|length) and item.button2Text|length %}
{% set isPopup = false %}
{% if item.button2Entry|length %}
  {% if item.button2Entry.one().section.handle == 'popups' %}
    {% set isPopup = true %}
  {% endif %}
{% endif %}
  <a href="{% if item.button2Entry|length %}{{ item.button2Entry.one().url }}{% elseif item.button2Download|length %}{{ item.button2Download.one().url }}{% else %}{{ item.button2Link }}{% endif %}" class="btn {% if isPopup == true %}popuplink{% endif %} {% if item.button2BrochureIcon is defined and item.button2BrochureIcon %}btn--brochure{% endif %}" {% if isPopup == true %}data-popup="{{ item.button2Entry.one().slug }}"{% endif %} {% if item.button2OpenInNewTab %}target="_blank"{% endif %}>{{ item.button2Text }}</a>
{% endif %}
</div>
{% endif %}
</div>