.headerarea--nogallery {
  background: $teal;
}
.headerarea__top--green {
  background: $teal;
}
.headerarea__enquiries {
  color: #fff;
  &:hover {
    color: #fff;
  }
}
.headerarea__scrolltext {
  color: #fff;
}
.headerarea__scrollarrow {
  background-image: inline-svg('arrow-mainstage-down',#fff);
}
.headerarea__form {
  background: rgba(21,21,21,0.6);
  color: #fff;
}
.headerarea__label {
  color: $lightgrey;
}
.headerarea__logoimg {
  width: 674px;
}

.headerarea__select {
  font-family: $fonts;
  color: #575759;
  background-image: inline-svg('lle-icon-down-arrow',$teal);
  border-color: #c2c2c2;
}
.headerarea__selectholder:before {
    background: #e7e7e7;
    border-color: #c2c2c2;
}
.headerarea__selectholder--price:after {
  background-image: inline-svg('money-icon', #b1b1b1);
}
.headerarea__selectholder--bedrooms:after {
  background-image:  inline-svg('bed-icon', #b1b1b1);
}
.headerarea__selectholder--property:after {
  background-image:  inline-svg('house-icon', #b1b1b1);
}
.headerarea__finance {
  color: #000;
  &:hover {
    color: #000;
  }
}
.headerarea__financecontent {
  background: #fff;
}
.headerarea__financearrow {
  background: $teal;
}

.headerarea__top--nogallery {
  padding-bottom: 45px;
}
.headerarea__loginbtn {
  background: $teal;
  &:hover {
    background: $darkteal;
  }
}
.headerarea__loginbtn--nogallery {
  background: #fff;
  color: $teal;
  &:hover {
    background: $darkteal;
    color: #fff;
  }
}

.headerarea--iconsturquoise {
  .menu-toggle__line {
    background: #54aeb0;
  }
  .menu-toggle__text {
    color: #54aeb0;
  }
  .headerarea__enquiriestxt {
    color: #54aeb0;
  }
  .selected .menu-toggle__line {
    background: #fff!important;
  }
}
.headerarea--iconsdarkgrey {
  .menu-toggle__line {
    background: #36454f;
  }
  .menu-toggle__text {
    color: #36454f;
  }
  .headerarea__enquiriestxt {
    color: #36454f;
  }
  .selected .menu-toggle__line {
    background: #fff!important;
  }
}
.headerarea--iconslightgrey {
  .menu-toggle__line {
    background: #dddbd8;
  }
  .menu-toggle__text {
    color: #dddbd8;
  }
  .headerarea__enquiriestxt {
    color: #dddbd8;
  }
  .selected .menu-toggle__line {
    background: #fff!important;
  }
}

@media(max-width:1090px){
  .headerarea__logoimg {
    width: 548px;
  }
}
@media(max-width:950px){
  .headerarea__logoimg {
    width: 434px;
  }
}
@media (max-width: 880px) {
  .headerarea__loginbtn {
    display: none;
  }
}
@media (max-width: 600px) {
  .headerarea__top--nogallery {
    padding-bottom: 40px;
  }
}
@media (max-width: 400px) {
  .headerarea__finance {
    background: #fff;
  }
	.headerarea__financearrow {
    background: $teal;
  }
}
