.mooringtable__headingcellinner {
  background: $teal;
  border-color: $darkgrey;
}
.mooringtable__midheadingcell {
  background: #f3f3f3;
}
.mooringtable__midheadingsidearea {
  background: #f3f3f3;
}
.mooringtable__contentcell {
  em {
    color: #000;
  }
}