.paginatedproperties__arrow {
  background-image: inline-svg('side-chevron',$teal);
}
.paginatedproperties__dotinner {
  background: $teal;
  border: 2px solid $teal;
}
.paginatedproperties__price {
  background: $teal;
}
