.brochures__titlesarea {
  background-color: /*#505471*/$darkpurple;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*background-image: url(/assets/presentation/menufeathers.png);*/
  color: #fff;
}
.brochures__listarea {
  background: $purple;
  color: #fff;
}
.brochures__title {
  h4 {
    color: #fff;
  }
}
.brochures__itemicon {
  background-image: url(/assets/presentation/downloadbrochure-icongrey.png);
}
