.freeformpanelarea {
  .freeform-row .freeform-column .freeform-label {
    color: $purple;
  }
}
.freeformpanelarea__fieldholder--arrow {
  &:after {
    background-image: inline-svg('down-arrow',$purple);
  }
}
.freeformpanelarea__fieldholder--date {
  &:after {
    background-image: inline-svg('calendar',$purple);
  }
}