.mooringtable__headingcellinner {
  background: $purple; 
  border-color: $darkgrey;
}
.mooringtable__midheadingcell {
  background: #b4b5b5;
}
.mooringtable__midheadingsidearea {
  background: #b4b5b5;
}
.mooringtable__contentcell {
  em {
    color: $gamekeepersbodytext;
  }
}