.paginatedproperties__arrow {
  background-image: inline-svg('side-chevron',$purple);
}
.paginatedproperties__dotinner {
  background: $purple;
  border: 2px solid $purple;
}
.paginatedproperties__price {
  background: $purple;
}
