.scrollproperties__scroll {
  .slick-slide {
    background: #fff;
  }
  .slick-arrow {
    background-image: inline-svg('side-chevron',$purple);
  }
  .slick-dots {
    li {
      &:before {
        background: $purple;
        border-color: $purple;
      }
      &.slick-active {
        &:before {
          background: #fff; 
        }
      }
    }
  }
}
.scrollproperties__contentarea {
  background: #f9fbfc;
}
.scrollproperties__price {
  background: $purple;
  color: #fff;
}
