{% extends "layouts/_layout" %}


{% block headextra %}
	{% if entry.displayContactForm is defined and entry.displayContactForm %}
		<script src="https://www.google.com/recaptcha/api.js" async defer></script>
		<script>
			function onSubmit(token) {
				document.getElementById("contactform").submit();
			}
		</script>
	{% endif %}
{% endblock %}

{% block content %}
	
		{% include "layouts/_firstsection" %}

		<div id="section3">
		
			<div class="section section--white">
			
				{% set rooms = craft.entries.section('rooms').all() %}
			
				<div class="properties properties--sectionsbg">
					<div class="{% if rooms|length > 0 or entry.endPanelHeading|length or entry.endPanelIntroduction|length or entry.endPanelContent|length or entry.endPanelImage|length or entry.endPanelButtons|length %}{% else %}container section__noproperties{% endif %}">
						{% if rooms|length > 0 or entry.endPanelHeading|length or entry.endPanelIntroduction|length or entry.endPanelContent|length or entry.endPanelImage|length or entry.endPanelButtons|length %}
							
								
									{% for room in rooms %}
										{% if room.listingPropertyTitle|length %}
											<div class="properties__itembg {% if loop.index is odd %}properties__itembg--odd{% else %}properties__itembg--even{% endif %}">
												<div class="container">
													<div class="properties__item cs">
														{% if room.listingPropertyImage|length %}
															<div class="properties__itemimgside {% if loop.index is odd %}properties__itemimgside--left{% else %}properties__itemimgside--right{% endif %}">
																<div class="properties__itemimgsideinner">
																	<a href="{{ room.url }}"><img src="{{ room.listingPropertyImage.one().getUrl('propertyListingImage') }}" alt="{{ room.listingPropertyImage.one().title }}" class="properties__itemimg" /></a>
																</div>
															</div>
														{% endif %}
														<div class="properties__itemcontentside {% if loop.index is odd %}properties__itemcontentside--left{% else %}properties__itemcontentside--right{% endif %}">
															{% if room.listingPropertyTitle|length %}
															<div class="properties__itemtitle">{{ room.listingPropertyTitle }}</div>
															{% endif %}
															{% if room.listingPropertyContent|length %}
															<div class="properties__itemsummary">
																{{ room.listingPropertyContent }}
															</div>
															{% endif %}
															<a href="{{ room.url }}" class="btn properties__itembtn">Read More</a>
														</div>
													</div>
												</div>
											</div>
										{% endif %}
									{% endfor %}
								
								{% if entry.endPanelHeading|length or entry.endPanelIntroduction|length or entry.endPanelContent|length or entry.endPanelButtons|length %}
									<div class="properties__enditem {% if rooms|length is odd %}properties__enditem--even{% else %}properties__enditem--odd{% endif %}">
										<div class="container">
											<div class="cs properties__enditemholder">
												{% if entry.endPanelImage|length %}
													<div class="properties__enditemimage" style="background-image:url({{ entry.endPanelImage.one().getUrl('endItemImage') }});">
														&nbsp;
													</div>
												{% endif %}
												<div class="properties__enditemcontent {% if entry.endPanelImage|length %}{% else %}properties__enditemcontent--fullwidth{% endif %}">
													{% if entry.endPanelHeading|length %}
														{{ entry.endPanelHeading }}
													{% endif %}
													{% if entry.endPanelIntroduction|length %}
														<div class="section__intro">{{ entry.endPanelIntroduction }}</div>
													{% endif %}
													{% if entry.endPanelContent|length %}
														{{ entry.endPanelContent }}
													{% endif %}
													
													{% if entry.endPanelButtons|length %}
														{% for item in entry.endPanelButtons.all() %}
															{% if item.type == "button" %}
																{% if item.text|length and (item.entry|length or item.linkUrl|length or item.download|length) %}
																	{% set isPopup = false %}
																	{% if item.entry|length %}
																		{% if item.entry.one().section.handle == 'popups' %}
																			{% set isPopup = true %}
																		{% endif %}
																	{% endif %}
																	<a href="{% if item.entry|length %}{{ item.entry.one().url }}{% elseif item.linkUrl|length %}{{ item.linkUrl }}{% elseif item.download|length %}{{ item.download.one().url }}{% endif %}" class="btn {% if isPopup == true %}popuplink{% endif %}" {% if isPopup == true %}data-popup="{{ item.entry.one().slug }}"{% endif %} {% if item.openInNewTab %}target="_blank"{% endif %}>{{ item.text }}</a>
																{% endif %}
															{% endif %}
														{% endfor %}
													{% endif %}
													
													
												</div>
											</div>
										</div>
									</div>
								{% endif %}
							
						{% else %}
							<p>No rooms are currently available.</p>
						{% endif %}
				
					</div>
				</div>
				
			</div>
		
		</div>
		
		{% if entry.displayContactForm is defined and entry.displayContactForm %}
			<div class="section section--white" id="section{{ finalSectionNum - 1 }}">
				{% include 'layouts/_contactform' %}
			</div>
		{% endif %}

{% endblock %}

