{% extends "layouts/_layout" %}

{% block headextra %}
  {% if entry.displayContactForm is defined and entry.displayContactForm %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
      function onSubmit(token) {
        document.getElementById("contactform").submit();
      }
    </script>
  {% endif %}
{% endblock %}

{% block content %}
{% include "layouts/_contentpanels" %}


{% if currentSite.handle == 'deganwyMarina' %}

  {% if entry.optionBoxesBar is defined and entry.optionBoxesBar|length %}
    {% for bar in entry.optionBoxesBar.all() %}
      {% include "layouts/_optionboxes" with {'ownSection':true} %}
    {% endfor %}
  {% endif %}
  
  
  {% include "layouts/_secondaryhomepanels" %}
{% elseif currentSite.handle == 'hungerfordMarina' %}  
  
  {% if entry.displayContactForm is defined and entry.displayContactForm %}
    <div class="section section--white" id="section{{ finalSectionNum - 1 }}">
      {% include 'layouts/_contactform' %}
    </div>
  {% endif %}
  
{% endif %}

{% endblock %}

