body { 
	color:#000; 
	font-family: $fonts; 
	background:#fff; 
}
h1, .h1 { 
	color: $saulblue;
	&:before {
		background: $saulblue; 	
	}
}
h2, .h2 { 
	color: $saulblue; 
}
h3, .h3 { 
	color: $saulblue;
}
h4, .h4 { 
	color: $saulblue; 
}
h6 {
	color: $saulblue;
}

a {  
	color: $saulblue; 
	&:hover {
		color: $saulblue; 
	}
}
em { 
	color: $saulblue; 
}

.leftButton, .rightButton { 
	background: $saulblue; 
}
.leftButton span { 
	background-image: inline-svg('arrow-gallery-scroll-left',#fff);
	background-size: contain;
}
.rightButton span { 
	background-image: inline-svg('arrow-gallery-scroll-right',#fff);
	background-size: contain;
}

