.nav__li:before {  
  background: #fff; 
}
.nav__a { 
  color: #cecece; 
}
.nav__li:hover .nav__a, .active .nav__a { 
  color: #fff;
  font-weight: 400;
}
.menu-toggle__line { 
  background: #fff; 
}
.menu-toggle__text { 
  color: #fff; 
}
.nav__innerspacing {
  background: rgba(31, 47, 68, 0.83);
}