.paginatedproperties__arrow {
  background-image: inline-svg('side-chevron',$saulblue);
}
.paginatedproperties__dotinner {
  background: $saulblue;
  border: 2px solid $saulblue;
}
.paginatedproperties__price {
  background: $saulblue;
}
