.popup {
  background: rgba(0,0,0,0.5);
}
.popup__box {
  background: #fff;
  border-color: $saulblue;
}
.popup__topbar {
  background: $saulblue;
}
.popup__heading {
  background: #f8f8f8;
  color: $saulblue;
}
.popup__contactarea {
  border-color: $saulblue;
}
.popup__contactareaitemlabel {
  color: $saulblue;
}
.popup__contactareaitemlink {
  color: #000;
}
.popup__form {
  .freeform-row {
    .freeform-column {
      .freeform-input {
        color: #3A3A3A;
        background-color: #F6F6F6;
        border-color: $saulblue;
      }
    }
  }
}

@media(max-width:400px){
  .popup__aboveformheading {
    &:after {
      background-image: inline-svg('arrow-gallery-scroll-right',$saulblue);
    }
  }
}