.pricetable__mainheading {
  background: $saulblue;
}
.pricetable__secondaryheading {
  color: $saulblue;
}
.pricetable__undertable {
  color: $saulblue;
}
.pricetable__cell--right {
  &:before {
    border-color: transparent transparent transparent $saulblue;
  }
}