.blogslist__item {
  &:hover .blogslist__itemcontent {
    background: $turquoise;
  }
}
.blogslist__itemcontent {
  background: #171717;
}
.blogslist__itemtitle {
  color: #fff;
}
.blogslist__itemsummary {
  color: #fff;
}