.optionboxes {
  background: $turquoise;
}
.optionboxes__item {
  border-color: #009ca6;
  text-transform:none;
}
.optionboxes__row {
  border-color: #009ca6;
}
.optionboxes__summary {
  letter-spacing: normal;
}
.container--options {
  max-width: 1180px;
}