.paginatedproperties__arrow {
  background-image: inline-svg('side-chevron',$turquoise);
}
.paginatedproperties__dotinner {
  background: $turquoise;
  border: 2px solid $turquoise;
}
.paginatedproperties__price {
  background: $turquoise;
}
