{% extends "layouts/_layout" %}

{% block content %}
	
		<div id="section2">
		  <div class="section section--white section--basicpage">
		    <div class="container cs">
					<h1>404</h1>
          <p>Page not found.</p>
				</div>
			</div>
		</div>
	
{% endblock %}