.brochures__titlesarea {
  background-color: $darkyellow;
  color: #fff;
}
.brochures__listarea {
  background: $yellow;
  color: #fff;
}
.brochures__title {
  h4 {
    color: #fff;
  }
}
.brochures__itemicon {
  background-image: url(/assets/presentation/downloadbrochure-icon.png);
}
