.events__item {
  background: $roydondarkblue;
  color: #fff;
}
.events__itembtn {
  border-color: $darkyellow;
  &:hover {
    background: $darkyellow;
  }
}
.events__itemtitle {
  color: #fff;
  &:hover {
    color: #fff;
  }
}