.faqs__item {
  border-color: $yellow;
  &:last-child {
    border-bottom-color: $yellow;
  }
}
.faqs__answer {
  border-color: #ededed;
}
.faqs__expandarrow {
  background-image: inline-svg('arrow-mainstage-down',$roydondarkblue);
}