/*.nav__li:before {  
  background: $yellow; 
}
.nav__a { 
  color: #fff; 
}
.nav__li:hover .nav__a, .active .nav__a { 
  color: $yellow;
  font-weight: 400;
}
.nav__li { 
  font-size: $font24;
  margin-bottom: 26px;
  font-weight: 300;
}
.menu-toggle__line { 
  background: #fff; 
}
.menu-toggle.selected .menu-toggle__line {
  background: $yellow;
}
.menu-toggle__text { 
  color: #fff; 
}*/
.nav__innerspacing {
  background: rgba(8,44,63,0.85);
}/*
@media(max-width:700px){
  .nav__li {
    margin-bottom: 16px;
    font-size: 142%;
  }
}
@media(max-width:600px){
  .nav__li {
    font-size: 125%;
  }
}*/