.paginatedproperties__arrow {
  background-image: inline-svg('side-chevron',$roydondarkblue);
}
.paginatedproperties__dotinner {
  background: $roydondarkblue;
  border: 2px solid $roydondarkblue;
}
.paginatedproperties__price {
  background: $roydondarkblue;
}
