.propertydetail__header { 
  border-bottom-color: $roydondarkblue; 
}
.propertydetail__price { 
  color: $roydondarkblue; 
}
.propertydetail__link { 
  border-color: $roydondarkblue; 
}
.propertydetail__contactitem  {  
  border-bottom-color: $roydondarkblue; 
  color: $roydondarkblue; 
}
.propertydetail__linkicon { 
  background: $yellow; 
  border-radius: 0 4px 4px 0;
}
.propertydetail__detailsheading { 
  border-bottom-color: $yellow; 
}
.propertydetail__detailsheadingtext { 
  color: $roydondarkblue; 
  border-bottom-color: $yellow;
}
.propertydetail__icontext { 
  color: $roydondarkblue; 
}
.propertydetail__galleryviewphotosiconimg {
  background-image: url(/assets/presentation/viewphotos-icon-yellow.png);
}
.propertydetail__detailitem  { 
  border-bottom-color: $yellow; 
}
.propertydetail__itemname { 
  color: $roydondarkblue; 
}
.propertydetail__disclaimer  p { 
  color: $darkgrey; 
}
.propertydetail__galleryviewphotos { 
  background: #fff; 
  color: $roydondarkblue; 
}
.propertydetail__contacticon--call { 
  background-image: url(/assets/presentation/property-callicon-yellow.png);
}
.propertydetail__contacticon--email {
  background-image: url(/assets/presentation/property-emailicon-yellow.png);
}
.propertydetail__img--bedrooms {
  background-image: inline-svg('bed-icon',$yellow);
}
.propertydetail__img--bathrooms {
  background-image: url(/assets/presentation/bathrooms-icon-yellow.png);
}
.propertydetail__linkiconimg--viewing {
  background-image: url(/assets/presentation/viewing-icon.png);
}
.propertydetail__linkiconimg--brochure {
  background-image: url(/assets/presentation/brochure-icon.png);
}
.propertydetail__linkiconimg--floorplans {
  background-image: url(/assets/presentation/floorplan-icon.png);
}
.propertydetail__linkiconimg--calc {
  background-image: url(/assets/presentation/calculator-icon.png);
}
.propertydetail__linkiconimg--finance {
  background-image: url(/assets/presentation/finance-icon.png);
}
.propertydetail__linkiconimg--friend {
  background-image: url(/assets/presentation/sendtofriend-icon.png);
}
.propertydetail__linkiconimg--star {
  background-image: url(/assets/presentation/amenities-icon.png);
}
.propertydetail__linkiconimg--guide {
  background-image: url(/assets/presentation/buyersguide-icon.png);
}
.propertydetail__linkiconimg--question {
  background-image: url(/assets/presentation/faqs-icon.png);
}
@media (max-width: 500px) {
	.propertydetail__detailsheadingtextouter { 
    border-bottom-color: $yellow; 
  }
}
