$fonts: 'Lato',Arial,Helvetica,sans-serif;
$font11: 79%;
$font12: 86%;
$font16: 114.9%;
$font18: 129%;
$font20: 143%;
$font21: 1.5em;
$font22: 157.5%;
$font24: 172%;
$font26: 1.87em;
$font30: 2.145em; 
$font36: 2.575em;
$font38: 2.72em;
$font52: 3.72em; 

$longashesbodytext: #332d2d;
$gamekeepersbodytext: #3f3f3f;
$lightgreen: #afbbaf;
$lightergreen: #d0d8d0; 
$darkgreen: #939d93;
$socialcolour: #d1cec7;
$footercolour: #98a398;
$dotsgrey: #5a5a5a;
$lightgrey: #ececec;
$darkgrey: #191919; 
/*$purple: #6a6e8c;*/
$purple: #969696;
/*$darkpurple: #505471;*/
$darkpurple: #ddb62f;
/*$purplesocial: #6b6f8b;*/
$purplesocial: #969696;
$blue: #00789e;
$darkblue: #005f7d;
$bluesocial: #10789c;
$accentbrown: #9d9d96;
$lightaccentbrown: #adada6; 
$yellow: #e7ab41;
$lightyellow: #f1b242;
$darkyellow: #d39830;
$roydondarkblue: #082c3f;
$turquoise: #008c95;
$darkturquoise: #046b72;
$footerturquoise: #106b71; 
$saulblue: #5484c2;
$sauldarkblue: #406390;
$footersaulblue: #426694;
$haywoodblue: #00a4c7;
$haywooddarkblue: #007f9a;
$haywoodbluesocial: #0092b1;
$bellavistared: #CB0E38;
$bellavistadarkred: #9a0d2d;
$bellavistaredsocial: #ab0f32;
$brandbeige: #D1CEC7;
$teal: #54AEB0;
$tealsocial: #4d999b;
$darkteal: #468c8e;
$boatblue: #263D79;
$boatbluesocial: #1e305f;
$boatdarkblue: #1b2b54;