.paginatedproperties__arrow {
  background-image: inline-svg('side-chevron',$haywoodblue);
}
.paginatedproperties__dotinner {
  background: $haywoodblue;
  border: 2px solid $haywoodblue;
}
.paginatedproperties__price {
  background: $haywoodblue;
}
